<div class='radar-card <%= @classes %>' data-skills-target='radar'>
  <% for i in 1..5 do %>
    <div class='radar-bg-<%= i %>'></div>
  <% end %>
  <% j = 1 %>
  <% polygon = [] %>
  <% @categories.each do |k,v| %>
    <% point = [((Math::cos(j*2*Math::PI/@categories.length) * v * 3) + 50).round(2).to_s + '%', ((Math::sin(j*2*Math::PI/@categories.length) * v * 3) + 50).round(2).to_s + '%'] %>
    <div class='label-<%= @categories.length %>-<%= j %>'>
      <p><%= k %></p>
    </div>
    <% polygon << point.join(' ')  %>
    <% j += 1 %>
  <% end %>
  <div class="polygon" style='clip-path: polygon(<%= polygon.join(', ') %>)'></div>
</div>
