<div data-controller="games--escape" class="escape-window">
  <div class="wrapper">
    <div class="aside">
      <%= render(Games::Keyboards::ArrowsComponent.new(js_controller:"games--escape")) %>
    </div>
    <% case @escape.step %>
    <% when 0 %>
      <%= render(Games::Maps::MapComponent.new(model: @escape)) %>
    <% when 1 %>
      <%= render(Games::Maps::MapComponent.new(model: @escape)) %>
    <% when 2 %>
      <%= render 'games/escapes/results', escape: @escape %>
    <% end %>
    <div class="aside">
    <%= render(Cards::DialogCardComponent.new(text: t("escapegame.intro"), speaker: "games/Bunny-down.png"))  %>
    </div>
  </div>
</div>
