<%= render(Navigations::NavigationComponent.new) %>
<main>
  <%= render(Titles::H1titleComponent.new(title: 'Private space')) %>
  <div class="section-1">
    <div class="container p-3">
      <%= form_with url: session_path do |form| %>
        <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Not", value: params[:email_address] %>
        <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Welcome" %>
        <%= form.submit "Get out" %>
      <% end %>
    </div>
  </div>
</main>
<%= render(Navigations::FooterComponent.new) %>
