<%= render(Navigations::NavigationComponent.new) %>
<%= render(Titles::H1titleComponent.new(title: t('puzzle.title') )) %>
<div class="section-2">
  <div class="container puzzle-wrapper">
    <div class="py-3">
      <%= render 'games/puzzles/new', puzzle: @puzzle  %>
    </div>
    <div class="text-center p-3">
      <p><strong><%= t('puzzle.best5')%></strong></p>
      <p><%= @best5 ? @best5.pseudo + " - " + @best5.counter.to_s + t('puzzle.moves') : "-" %></p>
      <p><strong><%= t('puzzle.best4')%></strong></p>
      <p><%= @best4 ? @best4.pseudo + " - " + @best4.counter.to_s + t('puzzle.moves') : "-" %></p>
      <p><strong><%= t('puzzle.best3')%></strong></p>
      <p><%= @best3 ? @best3.pseudo + " - " + @best3.counter.to_s + t('puzzle.moves') : "-" %></p>
    </div>
  </div>
</div>
