<%= render(Navigations::NavigationComponent.new) %>
<%= render(Titles::H1titleComponent.new(title: t('puzzle.title') )) %>
<div class="section-2">
  <div class="container">
    <div>
      <p>Hello <%= @puzzle.pseudo %> !</p>
      <p><%= 'WIN !' if @puzzle.gameover == 0 %></p>
      <p><%= @puzzle.counter.to_s + t('puzzle.moves').pluralize if @puzzle.counter > 0 %></p>
    </div>
    <div class="puzzle-wrapper py-3">
      <div class="puzzle size-<%= @puzzle.size %>">
        <% i = 0 %>
        <% @puzzle.value.each do |tile| %>
          <%= link_to games_puzzle_path(pos: i), data: { turbo_method: :patch } do %>
            <div class="puzzle-tile tile-<%= @puzzle.size %>-<%= tile %>"></div>
          <% end %>
          <% i += 1 %>
        <% end %>
      </div>
      <div class="model">
        <% # ajouter la possibilité de voir l'image entière en aide %>
      </div>
    </div>
  </div>
</div>
