<%= render(Navigations::NavigationComponent.new) %>
<%= render(Titles::H1titleComponent.new(title: t('puzzle.title') )) %>
<div class="section-2">
  <div class="container">
    <div class="puzzle-wrapper py-3">
      <div class="puzzle size-<%= @puzzle.size %>">
        <% i = 0 %>
        <% @puzzle.value.each do |tile| %>
          <%= link_to games_puzzle_path(pos: i), data: { turbo_method: :patch } do %>
            <div class="puzzle-tile"><%= tile %></div>
          <% end %>
          <% i += 1 %>
        <% end %>
      </div>
    </div>
    <div class="py-3">
      <%= link_to 'Reset', games_puzzle_path(reset: true), class:'btn-cta btn-light', data: { turbo_method: :patch } %>
    </div>
  </div>
</div>
