<div class="position-relative">
  <div class="grid-<%= @model.map.first.length - 1 %>-<%= @model.map.length - 1 %>">
    <% i = 0 %>
    <% @model.map.each do |column| %>
      <% j = 0 %>
      <% column.each do |sprite| %>
        <%= render(Games::Maps::SpriteComponent.new(type: sprite, x: i, y: j, model: @model)) %>
        <% j += 1 %>
      <% end %>
      <% i += 1 %>
    <% end %>
  </div>
  <span data-games--escape-target="character" class="character-<%= @model.character_x %>-<%= @model.character_y %> character-down"></span>
</div>
