<%= turbo_frame_tag 'scores' do %>
  <div class="scores">
    <p><%= "Red score :  #{scores[0]}" unless scores[0].zero? %></p>
    <p><%= "Blue score :  #{scores[1]}" unless scores[1].zero? %></p>
    <p><%= "Yellow score :  #{scores[2]}" unless scores[2].zero? %></p>
    <p><%= "Green score :  #{scores[3]}" unless scores[3].zero? %></p>
    <p><%= "Total score :  #{scores[4]}" %></p>
  </div>
<% end%>
