<%= render(Titles::H1titleComponent.new(title: "Let's Roll Dices !" )) %>
<div class="section-1">
  <div class="container">
    <p>Add dice with your own needs and roll them ! </p>
    <div class="d-flex py-3 justify-content-around">
      <%= link_to new_games_roll_roll_dice_path(@roll), data: { turbo_frame: 'new_dice' } do %>
        <%= render(Buttons::CtaComponent.new(title: 'New dice', classes: 'btn-big btn-dark' )) %>
      <% end %>
      <%= link_to games_roll_path(@roll), data: { turbo_method: :put } do %>
        <%= render(Buttons::CtaComponent.new(title: 'Roll those dices !', classes: 'btn-big btn-complementary' )) %>
      <% end %>
    </div>
    <%= render 'games/roll_dices/index', dices: @dices %>
  </div>
</div>
