<div class="arrow-buttons" data-action="keydown@window-><%=@js_controller%>#move keyup@window-><%=@js_controller%>#keyup">
  <button <%="data-#{@js_controller}-target=up" if @js_controller.present? %> class='button arrow-up'><i class="fa-solid fa-arrow-up"></i></button>
  <button <%="data-#{@js_controller}-target=down" if @js_controller.present? %> class='button arrow-down'><i class="fa-solid fa-arrow-down"></i></button>
  <button <%="data-#{@js_controller}-target=left" if @js_controller.present? %> class='button arrow-left'><i class="fa-solid fa-arrow-left"></i></button>
  <button <%="data-#{@js_controller}-target=right" if @js_controller.present? %> class='button arrow-right'><i class="fa-solid fa-arrow-right"></i></button>
</div>
