<div class='navigation-wrapper' data-controller='dropdown'>
  <div class='d-flex'>
    <div class='d-flex'>
      <%= image_tag 'flagFR.svg', class: 'flag', data: { action: 'click->dropdown#french' } %>
      <%= image_tag 'flagUK.svg', class: 'flag', data: { action: 'click->dropdown#english' } %>
    </div>
    <div data-action='click->dropdown#reveal' data-dropdown-target='button' class='nav-button'>
      <i class='fa-solid fa-bars'></i>
    </div>
    <div data-action='click->dropdown#hide' data-dropdown-target='button' class='nav-button d-none'>
      <i class='fa-solid fa-xmark'></i>
    </div>
  </div>
  <div data-dropdown-target='navigation' class='navigation d-none'>
    <%= link_to root_path do %>
      <div class='nav-item item1' data-dropdown-target='item'>
        <h2><%= t('title_home') %></h2>
      </div>
    <% end %>
    <%= link_to philosophy_path do %>
      <div class='nav-item item3' data-dropdown-target='item'>
        <h2><%= t('title_philosophy') %></h2>
      </div>
    <% end %>
    <%= link_to skills_path do %>
      <div class='nav-item item2' data-dropdown-target='item'>
        <h2><%= t('title_skills') %></h2>
      </div>
    <% end %>
    <%= link_to projects_path do %>
      <div class='nav-item item4' data-dropdown-target='item'>
        <h2><%= t('title_project') %></h2>
      </div>
    <% end %>
    <%= link_to resources_path do %>
      <div class='nav-item item5' data-dropdown-target='item'>
        <h2><%= t('title_resources') %></h2>
      </div>
    <% end %>
    <%= link_to contact_path do %>
      <div class='nav-item item6' data-dropdown-target='item' data-action='animationend->dropdown#animationend'>
        <h2>Contact</h2>
      </div>
    <% end %>
  </div>
</div>
