<div class='wall' data-controller='wall' data-action='click->wall#animate'>
  <%= image_tag 'crane.png', class: 'crane', data: { wall_target: 'crane' } %>
  <%= image_tag 'CSS.png', class: 'brick', data: { wall_target: 'css' } %>
  <%= image_tag 'HTML.png', class: 'brick', data: { wall_target: 'html' } %>
  <%= image_tag 'Ruby.png', class: 'brick', data: { wall_target: 'ruby' } %>
  <%= image_tag 'Rails.png', class: 'brick', data: { wall_target: 'rails' } %>
  <%= image_tag 'JS.png', class: 'brick', data: { wall_target: 'js' } %>
  <%= image_tag 'postgre.png', class: 'brick', data: { wall_target: 'postgre' } %>
</div>
