<%= render(Navigations::NavigationComponent.new) %>
<main>
  <%= render(Titles::H1titleComponent.new(title: 'Contact')) %>
  <section class="section-1">
    <%= render(Titles::H2titleComponent.new(title: 'Contact')) %>
    <div class="container">
      <i class="fa-brands fa-github"></i>
      <i class="fa-brands fa-linkedin"></i>
      <i class="fa-brands fa-instagram"></i>
      <%= link_to 'Codingame','https://www.codingame.com/profile/4f80d3223829cd144c55b46f7e96eaea8214325', target: :_blank %>
      <%= link_to 'Malt', 'https://www.malt.fr/profile/remitondeux', target: :_blank %>
      <i class="fa-solid fa-mug-saucer"></i>
      <i class="fa-regular fa-handshake"></i>

      <p>Let's meet to discuss !</p>
    </div>
  </section>
  <section class="section-2">
    <%= render(Titles::H2titleComponent.new(title: 'Mentions Légales')) %>
    <h3>Images</h3>
    <p>Grégory Ferreux</p>
    <p>les images de fond sont libres de droit et proviennent de "mobilegamegraphics.itch.io", de "unsplash"</p>
  </section>
  <section class="section-1">
    <%= render(Titles::H2titleComponent.new(title: 'Cookies')) %>
    <div class="h2-title">
      <h2></h2>
    </div>
  </section>
</main>
<%= render(Navigations::FooterComponent.new) %>
