<nav>
  <%= render 'components/navigation'  %>
</nav>
<main>
  <div class='h1-title'>
    <h1><%= t('title_cv') %></h1>
  </div>
  <section class='section-1'>
    <%= render 'pages/cv/skills', skills: @skills %>
  </section>
  <section class='section-2'>
    <div class='container'>
      <div class='h2-title'>
        <span></span>
        <h2><%= t('education.title') %></h2>
      </div>
      <%= render 'pages/cv/education', education: @education %>
      <%= link_to 'CV en PDF', '/RT_CV_RoR.pdf', target: :_blank %>
    </div>
  </section>
  <section class='section-1'>
    <div class='container'>
      <div class='h2-title'>
        <span></span>
        <h2><%= t('workexp.title') %></h2>
      </div>
    </div>
  </section>
  <section class='section-2'>
    <div class='container'>
      <div class='h2-title'>
        <span></span>
        <h2><%= t('language.title') %></h2>
      </div>
      <%= render 'pages/cv/languages', languages: @languages %>
    </div>
  </section>
  <section class='section-1'>
    <div class='container'>
      <div class='h2-title'>
        <span></span>
        <h2><%= t('interest.title') %></h2>
      </div>
    </div>
  </section>
</main>
<footer>
  <%= render 'components/footer'  %>
</footer>
