<%= render(Navigations::NavigationComponent.new) %>
<main>
  <%= render(Titles::H1titleComponent.new(title: t('title_cv'))) %>
  <section class='section-1'>
    <%= render(Titles::H2titleComponent.new(title: t('skills.title'))) %>
    <%= render 'pages/cv/skills', skills: @skills %>
  </section>
  <section class='section-2'>
    <%= render(Titles::H2titleComponent.new(title: t('education.title'))) %>
    <div class='container'>
      <%= render 'pages/cv/education', education: @education %>
    </div>
  </section>
  <section class='section-1'>
    <%= render(Titles::H2titleComponent.new(title: t('workexp.title'))) %>
    <div class='container'>
      <%= render 'pages/cv/experiences', experiences: @experiences %>
    </div>
  </section>
  <section class='section-2'>
    <%= render(Titles::H2titleComponent.new(title: t('languages.title'))) %>
    <div class='container'>
      <%= render 'pages/cv/languages' %>
    </div>
  </section>
  <section class='section-1'>
    <%= render(Titles::H2titleComponent.new(title: t('hobby.title'))) %>
    <div class='container'>
      <%= render 'pages/cv/hobbies', hobbies: @hobbies %>
    </div>
  </section>
</main>
<%= render(Navigations::FooterComponent.new) %>
