<%= render(Navigations::NavigationComponent.new) %>
<main>
  <%= render(Titles::H1titleComponent.new(title: t('title_featureflags'))) %>
  <section class='section-1'>
    <%= render(Titles::H2titleComponent.new(title: t('featureflags.events'))) %>
    <div class='container'>
    </div>
  </section>
  <section class='section-2'>
    <%= render(Titles::H2titleComponent.new(title: t('featureflags.features'))) %>
    <div class='container'>
    </div>
  </section>
</main>
<%= render(Navigations::FooterComponent.new) %>
