<%= render(Navigations::NavigationComponent.new) %>
<main>
  <section class="section-1">
      <%= render(Titles::H1titleComponent.new(title: t('legal.title'))) %>
    <div class="container">
      <%= render(Titles::H2titleComponent.new(title: t('legal.stakeholders.title'))) %>
      <%= render(Texts::ParagraphComponent.new(text: t('legal.stakeholders.intro'))) %>
      <%= render(Texts::ParagraphComponent.new(text: t('legal.stakeholders.owner'))) %>
      <%= render(Texts::ParagraphComponent.new(text: t('legal.stakeholders.provider'))) %>
      <%= render(Texts::ParagraphComponent.new(text: t('legal.stakeholders.host'))) %>
    </div>
  </section>
  <section class="section-2">
    <div class="container">
      <%= render(Titles::H2titleComponent.new(title: t('legal.datas.title'))) %>
      <%= render(Texts::ParagraphComponent.new(text: t('legal.datas.text1'))) %>
      <%= render(Texts::ParagraphComponent.new(text: t('legal.datas.text2'))) %>
      <%= render(Texts::ParagraphComponent.new(text: t('legal.datas.text3'))) %>
      <%= render(Texts::ParagraphComponent.new(text: t('legal.datas.text4'))) %>
    </div>
  </section>
  <section class="section-1">
    <div class="container">
      <%= render(Titles::H2titleComponent.new(title: t('legal.elements.title'))) %>
      <%= render(Texts::ParagraphComponent.new(text: t('legal.elements.banner'))) %>
      <%= render(Texts::ParagraphComponent.new(text: t('legal.elements.images'))) %>
      <%= render(Texts::ParagraphComponent.new(text: t('legal.elements.ai'))) %>
      <%= render(Texts::ParagraphComponent.new(text: t('legal.elements.logos'))) %>
      <%= render(Texts::ParagraphComponent.new(text: t('legal.elements.fonts'))) %>
    </div>
  </section>
</main>
<%= render(Navigations::FooterComponent.new) %>
