<nav>
  <%= render 'components/navigation'  %>
</nav>
<main>
  <div class='h1-title'>
    <h1><%= t('title_philosophy') %></h1>
  </div>
  <section class='section-1'>
    <div class='container text-center'>
      <div class='h2-title'>
        <span></span>
        <h2><%= t('intro.title') %></h2>
      </div>
      <p><%= t('intro.part1') %></p>
      <p><%= t('intro.part2') %></p>
      <div class="my-3">
        <%= render 'pages/philosophy/avatar' %>
      </div>
      <p><%= t('intro.part3') %></p>
    </div>
  </section>
  <section class='section-2'>
    <div class='container'>
      <div class='h2-title'>
        <span></span>
        <h2><%= t('vision.title') %></h2>
      </div>
      <div class="text-center">
        <p><%= t('vision.intro') %></p>
      </div>
      <div class='row justify-content-center'>
        <div class='col-12 col-md-7 order-1 order-md-1 d-flex flex-column justify-content-between'>
          <div class='h3-title'>
            <h4><%= t('conception.title') %></h4>
            <h3><%= t('conception.title') %></h3>
          </div>
          <%= render 'pages/philosophy/steps', steps: @conception %>
        </div>
        <div class='my-3 col-8 col-md-5 order-2 order-md-2 d-flex flex-column justify-content-between'>
          <%= render 'pages/philosophy/gears' %>
          <div class="d-flex flex-column quote-wrapper">
            <i class='fa-solid fa-quote-left'></i>
            <p><%= t('quote.gears') %></p>
            <i class='fa-solid fa-quote-right align-self-end'></i>
          </div>
        </div>
        <div class='col-12 col-md-6 order-3 order-md-4 d-flex flex-column justify-content-between'>
          <div class='h3-title'>
            <h4><%= t('development.title') %></h4>
            <h3><%= t('development.title') %></h3>
          </div>
          <%= render 'pages/philosophy/steps', steps: @development %>
        </div>
        <div class='my-3 col-10 col-md-6 order-4 order-md-3 d-flex flex-column justify-content-between'>
          <%= render 'pages/philosophy/wall' %>
          <div class="d-flex flex-column quote-wrapper">
            <i class='fa-solid fa-quote-left'></i>
            <p><%= t('quote.civil_engineer') %></p>
            <i class='fa-solid fa-quote-right align-self-end'></i>
          </div>
        </div>
        <div class='col-12 order-5 order-md-5'>
          <div class='h3-title mb-4'>
            <h4><%= t('maintenance.title') %></h4>
            <h3><%= t('maintenance.title') %></h3>
          </div>
          <%= render 'pages/philosophy/steps', steps: @maintenance %>
        </div>
        <div class='my-3 col-12 order-last order-md-last'>
          <%= render 'pages/philosophy/van' %>
        </div>
      </div>
    </div>
  </section>
</main>
<footer>
  <%= render 'components/footer'  %>
</footer>
