<main class='philosophy'>
  <nav>
    <%= render "navigation"  %>
  </nav>
  <div class="container">
    <h1><%= t('title_philosophy') %></h1>
    <section class="presentation">
      <h2><%= t('intro.title') %></h2>
      <p><%= t('intro.text') %></p>
      <p>capable de travailler seul ou en équipe pluridisciplinaire</p>
    </section>
    <section>
      <h2>Mes domaines d'expertise</h2>
      <div class="row">
        <div class="col-8">
          <div class="h3-title">
            <h3>Conception</h3>
          </div>
          <ul>
            <li>Analyse et définition du besoin</li>
            <li>Cadrage du projet (fonctionnalités, délais et estimation budgétaire)</li>
            <li>Maquettage, design UX/UI</li>
            <li>Spécifications techniques</li>
          </ul>
        </div>
        <div class="col-4">
          <%= render "gears" %>
          <p>Scroll me !</p>
          <p class='quote'>engineer spotted !</p>
        </div>
        <div class="col-6">
          <%= render "wall" %>
        </div>
        <div class="col-6">
          <div class="h3-title">
            <h3>Développement</h3>
          </div>
          <ul>
            <li>Gestion de projet - respect de la qualité, délais et coûts</li>
            <li>Développement back-end / front-end</li>
            <li>Méthode agile, sprints et code-review</li>
            <li>Testing</li>
            <li>Mise en production en continu</li>
          </ul>
          <span>REJOUER L'ANIMATION</span>
        </div>
        <div class="col-12">
          <div class="h3-title">
            <h3>Vie de d'application</h3>
          </div>
          <ul>
            <li>Maintenance</li>
            <li>Documentation</li>
            <li>Formation/accompagnement client</li>
            <li>Développement de nouvelles fonctionnalités</li>
          </ul>
        </div>
        <div class="col-12">
          <%= render "van" %>
        </div>
      </div>
    </section>
  </div>
</main>
