<main>
  <nav>
    <%= render "navigation"  %>
  </nav>
  <div class="container">
    <h1><%= t('title_philosophy') %></h1>
    <section class="presentation">
      <h2><%= t('intro.title') %></h2>
      <p><%= t('intro.text') %></p>
      <p>capable de travailler seul ou en équipe pluridisciplinaire</p>
    </section>
    <section class="expertise">
      <h2>Mes domaines d'expertise</h2>
      <div class="row">
        <h3>Phase de conception de l'application : </h3>
        <div class="col-8">
          <ul>
            <li>Analyse et définition du besoin</li>
            <li>Cadrage du projet (fonctionnalités, délais et estimation budgétaire)</li>
            <li>Maquettage, design UX/UI</li>
            <li>Spécifications techniques</li>
          </ul>
        </div>
        <div class="col-4">
          <%= render "gears" %>
          <p class="info">Scroll me !</p>
        </div>
      </div>
      <h3>Phase de développement :</h3>
      <div class="col-8">
        <%= render "wall" %>
      </div>
      <div class="col-4">
        <ul>
          <li>Gestion de projet - respect de la qualité, délais et coûts</li>
          <li>Développement back-end / front-end</li>
          <li>Méthode agile, sprints et code-review</li>
          <li>Testing</li>
          <li>Mise en production en continu</li>
        </ul>
        <span>REJOUER L'ANIMATION</span>
      </div>
      <h3>Phase de vie de d'application :</h3>
      <div class="col-4">
        <ul>
          <li>Maintenance</li>
          <li>Développement de nouvelles fonctionnalités</li>
        </ul>
      </div>
      <div class="col-12">
        <%= render "van" %>
      </div>
    </section>
  </div>
</main>
