<main class='philosophy'>
  <nav>
    <%= render 'navigation'  %>
  </nav>
  <div class='h1-title'>
    <h1><%= t('title_philosophy') %></h1>
  </div>
  <section class='section-1'>
    <div class='container text-center'>
      <div class='h2-title'>
        <span></span>
        <h2><%= t('intro.title') %></h2>
      </div>
      <p><%= t('intro.part1') %></p>
      <p><%= t('intro.part2') %></p>
      <%= render 'avatar' %>
      <p><%= t('intro.part3') %></p>
    </div>
  </section>
  <section class='section-2'>
    <div class='container'>
      <div class='h2-title'>
        <span></span>
        <h2><%= t('vision.title') %></h2>
      </div>
      <div class='row justify-content-center'>
        <div class='col-12 col-md-8 order-1 order-md-1'>
          <div class='h3-title'>
            <h4>Conception</h4>
            <h3>Conception</h3>
          </div>
          <ul>
            <li>Analyse et définition du besoin</li>
            <li>Cadrage du projet (fonctionnalités, délais et estimation budgétaire)</li>
            <li>Maquettage, design UX/UI</li>
            <li>Spécifications techniques</li>
          </ul>
        </div>
        <div class='col-6 col-md-4 order-2 order-md-2'>
          <%= render 'gears' %>
          <i class='fa-solid fa-quote-left'></i>
          <p class='quote'>engineer spotted !</p>
          <i class='fa-solid fa-quote-right'></i>
        </div>
        <div class='col-12 col-md-6 order-3 order-md-4'>
          <div class='h3-title'>
            <h4>Développement</h4>
            <h3>Développement</h3>
          </div>
          <ul>
            <li>Gestion de projet - respect de la qualité, délais et coûts</li>
            <li>Développement back-end / front-end</li>
            <li>Méthode agile, sprints et code-review</li>
            <li>Testing</li>
            <li>Mise en production en continu</li>
          </ul>
          <span>REJOUER L'ANIMATION</span>
        </div>
        <div class='col-8 col-md-6 order-4 order-md-3'>
          <%= render 'wall' %>
          <p class='quote'><%= t('quote.civil_engineer') %></p>
        </div>
        <div class='col-12 order-5 order-md-5'>
          <div class='h3-title'>
            <h3>Vie de d'application</h3>
          </div>
          <ul>
            <li>Maintenance</li>
            <li>Documentation</li>
            <li>Formation/accompagnement client</li>
            <li>Développement de nouvelles fonctionnalités</li>
          </ul>
        </div>
        <div class='col-12 order-last order-md-last'>
          <%= render 'van' %>
        </div>
      </div>
    </div>
  </section>
</main>
