<main class='philosophy'>
  <nav>
    <%= render 'navigation'  %>
  </nav>
  <div class='h1-title'>
    <h1><%= t('title_philosophy') %></h1>
  </div>
  <section class='section-1'>
    <div class='container text-center'>
      <div class='h2-title'>
        <span></span>
        <h2><%= t('intro.title') %></h2>
      </div>
      <p><%= t('intro.part1') %></p>
      <p><%= t('intro.part2') %></p>
      <%= render 'avatar' %>
      <p><%= t('intro.part3') %></p>
    </div>
  </section>
  <section class='section-2'>
    <div class='container'>
      <div class='h2-title'>
        <span></span>
        <h2><%= t('vision.title') %></h2>
      </div>
      <div class='row justify-content-center'>
        <div class='col-12 col-md-7 order-1 order-md-1 d-flex flex-column justify-content-between'>
          <div class='h3-title'>
            <h4><%= t('conception.title') %></h4>
            <h3><%= t('conception.title') %></h3>
          </div>
          <div class="text-center">
            <p><%= t('conception.step1') %></p>
            <p><%= t('conception.step2') %></p>
            <p><%= t('conception.step3') %></p>
            <p><%= t('conception.step4') %></p>
          </div>
          <div class="d-flex flex-column quote-wrapper">
            <i class='fa-solid fa-quote-left'></i>
            <p><%= t('quote.gears') %></p>
            <i class='fa-solid fa-quote-right align-self-end'></i>
          </div>
        </div>
        <div class='col-6 col-md-5 order-2 order-md-2'>
          <%= render 'gears' %>
        </div>
        <div class='col-12 col-md-6 order-3 order-md-4 d-flex flex-column justify-content-between'>
          <div class='h3-title'>
            <h4><%= t('development.title') %></h4>
            <h3><%= t('development.title') %></h3>
          </div>
          <div class="text-center">
            <p><%= t('development.step1') %></p>
            <p><%= t('development.step2') %></p>
            <p><%= t('development.step3') %></p>
            <p><%= t('development.step4') %></p>
            <p><%= t('development.step5') %></p>
          </div>
          <div class="d-flex flex-column quote-wrapper">
            <i class='fa-solid fa-quote-left'></i>
            <p><%= t('quote.civil_engineer') %></p>
            <i class='fa-solid fa-quote-right align-self-end'></i>
          </div>
        </div>
        <div class='col-8 col-md-6 order-4 order-md-3'>
          <%= render 'wall' %>
        </div>
        <div class='col-12 order-5 order-md-5'>
          <div class='h3-title'>
            <h4><%= t('lifecycle.title') %></h4>
            <h3><%= t('lifecycle.title') %></h3>
          </div>
          <div class="text-center">
            <p><%= t('lifecycle.step1') %></p>
            <p><%= t('lifecycle.step2') %></p>
            <p><%= t('lifecycle.step3') %></p>
          </div>
          <div class="d-flex flex-column quote-wrapper">
            <i class='fa-solid fa-quote-left'></i>
            <p><%= t('quote.freedom') %></p>
            <i class='fa-solid fa-quote-right align-self-end'></i>
          </div>
        </div>
        <div class='col-12 order-last order-md-last'>
          <%= render 'van' %>
        </div>
      </div>
    </div>
  </section>
</main>
