<main>
  <nav>
    <%= render 'components/navigation' %>
  </nav>
  <div class="h1-title">
    <h1><%= t('title_project') %></h1>
  </div>
  <section class="section-1">
    <div class="container">
      <div class="h2-title">
        <span></span>
        <h2>Professional</h2>
      </div>
      <%= link_to 'Centre Mormal', 'https://centremormal.fr/', target: :_blank %>
      <p>Site vitrine - conception et développement en tant que freelance - 2022</p>
      <%= link_to 'Mon Projet Anah', 'https://monprojet.anah.gouv.fr/', target: :_blank %>
      <p>Plateforme digitale- développement fullstack en équipe de 15 en méthode agile - 2023</p>
    </div>
  </section>
  <section class="section-2">
    <div class="container">
      <div class="h2-title">
        <span></span>
        <h2>Games</h2>
      </div>
      <%= link_to 'Cosmonaut', projects_cosmonaut_path %>
    </div>
  </section>
  <footer>
    <%= render 'components/footer'  %>
  </footer>
</main>
