<nav>
  <%= render 'components/navigation' %>
</nav>
<main>
  <%= render(Titles::H1titleComponent.new(title: t('title_project'))) %>
  <section class='section-1'>
    <%= render(Titles::H2titleComponent.new(title: t('project.professionals'))) %>
    <div class='container'>
      <div class="row">
        <div class="col-12 col-md-6">
          <%= render(Titles::H3titleComponent.new(title: 'Centre Mormal')) %>
          <%= link_to 'https://centremormal.fr/', target: :_blank do %>
            <div class='card-project cm'></div>
          <% end %>
          <p>Site vitrine - conception et développement en tant que freelance - 2022</p>
        </div>
        <div class="col-12 col-md-6">
          <%= render(Titles::H3titleComponent.new(title: 'Mon Projet Anah')) %>
          <%= link_to 'https://monprojet.anah.gouv.fr/', target: :_blank do %>
            <div class='card-project mpa'></div>
          <% end %>
          <p>Plateforme digitale- développement fullstack en équipe de 15 en méthode agile - 2023</p>
        </div>
      </div>
    </div>
  </section>
  <section class='section-2'>
    <%= render(Titles::H2titleComponent.new(title: t('project.games'))) %>
    <div class='container'>
      <p>Do you like tactic games ? Need to try this !</p>
      <%= link_to 'Risk', games_risk_games_risks_path, data: { turbo_method: :post } %>
      <p>Forgot your dices ? Nevermind all you need is here !</p>
      <%= link_to 'Roll Dices', games_rolls_path, data: { turbo_method: :post } %>
      <p>Tic Tac Toe, classic game. Beat our AI !</p>
      <%= link_to 'Tic Tac Toe', games_morbacs_path, data: { turbo_method: :post } %>
      <p>Will you be able to escape this place ?</p>
      <%= link_to 'Escape game', games_escapes_path, data: { turbo_method: :post } %>
      <p>Puissance 4, classic game. Challenge a friend !</p>
      <%= link_to 'Puissance 4', games_puissance4s_path, data: { turbo_method: :post } %>
      <p>The ultimate DIKKENEK game, will you reach the hall of fame ? (only available in french)</p>
      <%= link_to 'Dikkenek', games_dikkeneks_path %>
    </div>
  </section>
  <section class='section-1'>
    <%= render(Titles::H2titleComponent.new(title: "Open source")) %>
    <div class="container">
      <p><%= t('project.opensource') %></p>
    </div>
  </section>
</main>
<footer>
  <%= render 'components/footer'  %>
</footer>
