<main>
  <nav>
    <%= render 'navigation'  %>
  </nav>
  <div class='h1-title'>
    <h1><%= t('title_skills') %></h1>
  </div>
  <section class='section-1'>
    <div class='container'>
      <div class='h2-title'>
        <span></span>
        <h2><%= t('title_skills') %></h2>
      </div>
      <div data-controller='skills'>
        <div class='d-flex'>
          <p class='btn selected' data-skills-target='btnclassic' data-action='click->skills#classic'>Classic</p>
          <p class='btn' data-skills-target='btnradar' data-action='click->skills#radar'>Radar</p>
        </div>
        <div class='d-none' data-skills-target='classic'>
          <%= render 'skills_classic' %>
        </div>
        <div class='d-none' data-skills-target='radar'>
          <%= render 'skills_radar' %>
        </div>
        <i class='fa-solid fa-bullseye'></i>
    </div>
  </section>
  <section class='section-2'>
    <div class='container'>
      <div class='h2-title'>
        <span></span>
        <h2>Curriculum vitae</h2>
      </div>
      <%= link_to 'CV en PDF', '/RT_CV_RoR.pdf', target: :_blank %>
    </div>
  </section>
</main>
