<nav>
  <%= render 'components/navigation'  %>
</nav>
<%= render(Titles::H1titleComponent.new(title: 'UI Kit' )) %>
<div class='section-1'>
  <%= render(Titles::H2titleComponent.new(title: 'Buttons' )) %>
  <div class='container'>
    <div class='my-1'>
      <%= render(Buttons::CtaComponent.new(title: 'CTA nude')) %>
    </div>
    <div class='my-1'>
      <%= render(Buttons::CtaComponent.new(title: 'CTA dark', classes: 'btn-dark' )) %>
      <%= render(Buttons::CtaComponent.new(title: 'CTA light', classes: 'btn-light' )) %>
      <%= render(Buttons::CtaComponent.new(title: 'CTA complementary', classes: 'btn-complementary' )) %>
    </div>
    <div class='my-1'>
      <%= render(Buttons::CtaComponent.new(title: 'Big CTA dark', classes: 'btn-dark btn-big' )) %>
      <%= render(Buttons::CtaComponent.new(title: 'Big CTA light', classes: 'btn-light btn-big' )) %>
      <%= render(Buttons::CtaComponent.new(title: 'Big CTA complementary', classes: 'btn-complementary btn-big' )) %>
    </div>
  </div>
</div>
<div class='section-2'>
  <%= render(Titles::H2titleComponent.new(title: 'Cards' )) %>
  <div class='container'>

  </div>
</div>
