<%= turbo_frame_tag 'scores' do %>
  <div class="scores">
    <p><%= "#{t('rolldice.red')} :  #{scores[0]}" unless scores[0].zero? %></p>
    <p><%= "#{t('rolldice.blue')} :  #{scores[1]}" unless scores[1].zero? %></p>
    <p><%= "#{t('rolldice.yellow')} :  #{scores[2]}" unless scores[2].zero? %></p>
    <p><%= "#{t('rolldice.green')} :  #{scores[3]}" unless scores[3].zero? %></p>
    <p><%= "#{t('rolldice.total')} :  #{scores[4]}" %></p>
  </div>
<% end%>
