<%= render(Navigations::NavigationComponent.new) %>
<%= render(Titles::H1titleComponent.new(title: t('rolldice.title') )) %>
<div class='section-1'>
  <div class='container'>
    <p class= 'text-center pt-3'><%= t('rolldice.text1') %></p>
    <div class='d-flex py-3 justify-content-around align-items-center'>
      <%= link_to utilities_roll_path(@roll), data: { turbo_method: :put } do %>
        <%= render(Buttons::CtaComponent.new(title: t('rolldice.roll'), classes: 'btn-big btn-complementary' )) %>
      <% end %>
      <%= render 'utilities/rolls/scores', scores: @scores %>
    </div>
    <%= turbo_frame_tag 'dices', class: 'row' do %>
      <%= render 'utilities/roll_dices/index', dices: @dices %>
    <% end %>
  </div>
</div>
