<div class="container dikkenek-results h-full d-flex flex-column flex-md-row justify-content-around align-items-center">
  <div class="card-dikkenek d-flex flex-column justify-content-between align-items-center py-4">
    <h2><%= dikkenek.score %> <%= dikkenek.score == 0 ? 'point, éducation minimum !' : 'points' %></h2>
    <div class="py-4">
      <p>Détails computés par le système de scoring:</p>
      <p>Personnages trouvés : <span class="<%= dikkenek.good_answers < 7 ? "red" : "green" %>"><%= dikkenek.good_answers %></span> / 10 </p>
      <p>Difficulté: <%= dikkenek.difficulty %> / 5</p>
      <p>Précision: <span class="<%= dikkenek.accuracy < 70 ? "red" : "green" %>"><%= dikkenek.accuracy %></span> %</p>
      <p>(moyenne des joueurs: <%= @average_players_accuracy%> %)</p>
      <p>Temps: <span class="<%= dikkenek.answers.last[:delay].to_f > 60000 ? "red" : "green"%>"><%= (dikkenek.answers.last[:delay].to_f / 1000).round(2) %></span> secondes</p>
      <p>(moyenne des joueurs: <%= @average_players_timer%> secondes)</p>
    </div>
    <div class="mt-32">
      <%= link_to games_dikkeneks_path do %>
        <%= render(Buttons::CtaComponent.new(title: "Retour à l'accueil", classes:"btn-dark" )) %>
      <% end %>
    </div>
  </div>
  <div class="d-flex justify-content-center p-2">
    <div class="d-flex flex-column">
      <% for i in 0...10 do %>
        <% if dikkenek.answers[i][:author] == dikkenek.quotes[i][:author] %>
          <div class="d-flex justify-content-between align-items-center">
            <p><%= dikkenek.quotes[i][:quote].slice(0..60) %></p>
            <%= image_tag "dikkenek/#{dikkenek.answers[i][:author]}.jpg", class: 'dikkenek-avatar border-green' %>
          </div>
        <% else %>
          <div class="d-flex justify-content-between align-items-center">
            <p><%= dikkenek.quotes[i][:quote].slice(0..60) %></p>
            <div class="d-flex">
              <%= image_tag "dikkenek/#{dikkenek.quotes[i][:author]}.jpg", class: 'dikkenek-avatar border-green' %>
              <%= image_tag "dikkenek/#{dikkenek.answers[i][:author]}.jpg", class: 'dikkenek-avatar border-red' %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
