<div class="dikkenek-progress d-flex flex-column align-items-center" data-controller="dikkenek">
  <div class="dikkenek-stepper d-flex align-items-center">
    <% for i in 1..10 do %>
      <div class="step d-flex align-items-center justify-content-center <%= "active" if i == 1 %>" data-dikkenek-target="steps" data-action="click->dikkenek#stepper"><p><%= i %></p></div>
      <div class="tick"><%= i == 10 ? "" : "-" %></div>
    <% end%>
  </div>
  <div>
    <%= form_with url: games_dikkenek_path(dikkenek), method: :put do |form| %>
    <div class="dikkenek-quotes-wrapper">
      <% i = 1 %>
      <% dikkenek.quotes.each do |quote| %>
        <div id="quote-<%= i %>" class="card-dikkenek full-height d-flex flex-column align-items-center justify-content-around <%= "d-none" unless i == 1 %>" data-dikkenek-target="quotes">
          <div class="quote">
            <%= render(Texts::QuoteComponent.new(quote: quote[:quote])) %>
          </div>
          <div class="row">
            <% characters.each do |character| %>
              <div class="col-4 col-md-2 d-flex flex-column align-items-center">
                <%= form.label :"characters-#{i}", character %>
                <%= image_tag "dikkenek/#{character}.jpg", class: 'dikkenek-avatar', data: { action: "click->dikkenek#radioButtons", dikkenek_target: "characters" } %>
                <%= form.radio_button :"characters-#{i}", character, required: true, class: "d-none" %>
              </div>
            <% end %>
          </div>
          <%= form.range_field :"scene-#{i}", in: 1..607  %>
        </div>
        <% i +=1 %>
      <% end %>
      <%= form.hidden_field :start_at, value:'0', data: { dikkenek_target: 'start' } %>
      <%= form.hidden_field :submit_at, value: '0', data: { dikkenek_target: 'end' } %>
    </div>
    <div class="dikkenek-submit d-flex justify-content-around align-items-center">
      <i class="fa-solid fa-circle-arrow-left" data-action="click->dikkenek#previous"></i>
      <%= form.submit "Valider", class: "btn-cta btn-big btn-complementary", data: { action: "click->dikkenek#submitForm" } %>
      <i class="fa-solid fa-circle-arrow-right" data-action="click->dikkenek#next"></i>
    </div>
    <% end %>
  </div>
</div>
