<div class='timeline'>
  <% i = 1 %>
  <% experiences.each do |k,v| %>
    <div class='items-wrapper'>
      <% if i.odd? %>
        <div class='item left'>
          <p><%= v['start'].year %></p>
        </div>
        <div data-controller='work' data-action='click->work#toggle' class='item right'>
          <div class="card-work appearing-wrapper">
            <h5><%= v['job'] %></h5>
            <div class="details hidden" data-work-target='card'>
              <h5><%= v['company'] %></h5>
              <h6><%= v['place'] %></h6>
              <p><%= v['description'] %></p>
            </div>
            <i data-work-target='down' class="fa-solid fa-circle-chevron-down"></i>
            <i data-work-target='up' class="fa-solid fa-circle-chevron-up d-none"></i>
          </div>
        </div>
      <% else %>
        <div data-controller='work' data-action='click->work#toggle' class='item left'>
          <div class="card-work appearing-wrapper">
            <h5><%= v['job'] %></h5>
            <div class="details hidden" data-work-target='card'>
              <h5><%= v['company'] %></h5>
              <h6><%= v['place'] %></h6>
              <p><%= v['description'] %></p>
            </div>
            <i data-work-target='down' class="fa-solid fa-circle-chevron-down"></i>
            <i data-work-target='up' class="fa-solid fa-circle-chevron-up d-none"></i>
          </div>
        </div>
        <div class='item right'>
          <p><%= v['start'].year %></p>
        </div>
      <% end %>
    </div>
    <% i += 1 %>
  <% end %>
</div>
