<div class="wrapper-languages">
  <div class="pb-5">
    <p><%= I18n.t("languages.intro1") %></p>
    <p><%= I18n.t("languages.intro2") %></p>
    <p><%= I18n.t("languages.intro3") %></p>
    <p><%= I18n.t("languages.intro4") %></p>
  </div>
  <div class="position-relative">
    <div class="flag uk"></div>
    <div class="flag fr"></div>
    <div class="flag de"></div>
    <div class="flag esp"></div>
    <div class="flag it"></div>
  </div>
  <div class="level"></div>
  <div class="texts d-flex justify-content-between pb-3">
    <p><%= I18n.t("languages.hello") %></p>
    <p><%= I18n.t("languages.native") %></p>
  </div>
</div>
