<div class='container'>
  <div data-controller='skills'>
    <%= render(Texts::ParagraphComponent.new(text: t('skills.intro1'))) %>
    <%= render(Texts::ParagraphComponent.new(text: t('skills.intro2'))) %>
    <div class='mt-4 d-flex justify-content-center'>
      <div class='mx-2' data-skills-target='btnclassic' data-action='click->skills#classic'>
        <%= render(Buttons::CtaComponent.new(title: t('skills.histogram'), classes: 'btn-dark btn-big' )) %>
      </div>
      <div class='mx-2' data-skills-target='btnradar' data-action='click->skills#radar'>
        <%= render(Buttons::CtaComponent.new(title: 'Radar', classes: 'btn-complementary btn-big' )) %>
      </div>
    </div>
    <div class='row'>
      <% skills.each do |skill| %>
        <div class='col-12 col-md-4'>
          <%= render(Titles::H3titleComponent.new(title: skill['title'])) %>
          <% skill.delete('title')  %>
          <%= render(Cards::HistogramCardComponent.new(categories: skill, classes: "d-none")) %>
          <%= render(Cards::RadarCardComponent.new(categories: skill)) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
