<nav>
  <div class='navigation-wrapper' data-controller='menu'>
    <div class='d-flex'>
      <div class='d-flex'>
        <%= image_tag 'flags/flagFR.svg', class: 'flag', data: { action: 'click->menu#french' } %>
        <%= image_tag 'flags/flagUK.svg', class: 'flag', data: { action: 'click->menu#english' } %>
      </div>
      <div data-action='click->menu#reveal' data-menu-target='button' class='nav-button'>
        <i class='fa-solid fa-bars'></i>
      </div>
      <div data-action='click->menu#hide' data-menu-target='button' class='nav-button d-none'>
        <i class='fa-solid fa-xmark'></i>
      </div>
    </div>
    <div data-menu-target='navigation' class='navigation d-none'>
      <%= render(Navigations::NavigationItemComponent.new(number: "item1", title: t('title_home'), path: root_path )) %>
      <%= render(Navigations::NavigationItemComponent.new(number: "item2", title: t('title_philosophy'), path: philosophy_path )) %>
      <%= render(Navigations::NavigationItemComponent.new(number: "item3", title: t('title_cv'), path: cv_path )) %>
      <%= render(Navigations::NavigationItemComponent.new(number: "item4", title: t('title_projects'), path: projects_path )) %>
      <%= render(Navigations::NavigationItemComponent.new(number: "item5", title: t('title_uikit'), path: uikit_path )) %>
      <%= render(Navigations::NavigationItemComponent.new(number: "item6", title: t('title_contact'), path: contact_path )) %>
    </div>
  </div>
</nav>
