<nav>
  <div class='navigation-wrapper' data-controller='menu'>
    <div class='d-flex'>
      <div class='d-flex'>
        <%= image_tag 'flags/flagFR.svg', class: 'flag', data: { action: 'click->menu#french' } %>
        <%= image_tag 'flags/flagUK.svg', class: 'flag', data: { action: 'click->menu#english' } %>
      </div>
      <div data-action='click->menu#reveal' data-menu-target='button' class='nav-button'>
        <i class='fa-solid fa-bars'></i>
      </div>
      <div data-action='click->menu#hide' data-menu-target='button' class='nav-button d-none'>
        <i class='fa-solid fa-xmark'></i>
      </div>
    </div>
    <div data-menu-target='navigation' class='navigation d-none'>
      <%= link_to root_path do %>
        <div class='nav-item item1 <%= current_page?(root_path) ? 'selected' : 'non-selected' %>' data-menu-target='item'>
          <h2><%= t('title_home') %></h2>
        </div>
      <% end %>
      <%= link_to philosophy_path do %>
        <div class='nav-item item2 <%= current_page?(philosophy_path) ? 'selected' : 'non-selected' %>' data-menu-target='item'>
          <h2><%= t('title_philosophy') %></h2>
        </div>
      <% end %>
      <%= link_to cv_path do %>
        <div class='nav-item item3 <%= current_page?(cv_path) ? 'selected' : 'non-selected' %>' data-menu-target='item'>
          <h2><%= t('title_cv') %></h2>
        </div>
      <% end %>
      <%= link_to projects_path do %>
        <div class='nav-item item4 <%= current_page?(projects_path) ? 'selected' : 'non-selected' %>' data-menu-target='item'>
          <h2><%= t('title_projects') %></h2>
        </div>
      <% end %>
      <%= link_to uikit_path do %>
        <div class='nav-item item5 <%= current_page?(uikit_path) ? 'selected' : 'non-selected' %>' data-menu-target='item'>
          <h2><%= t('title_uikit') %></h2>
        </div>
      <% end %>
      <%= link_to contact_path do %>
        <div class='nav-item item6 <%= current_page?(contact_path) ? 'selected' : 'non-selected' %>' data-menu-target='item' data-action='animationend->menu#animationend'>
          <h2>Contact</h2>
        </div>
      <% end %>
    </div>
  </div>
</nav>
